<nav class="container-fluid mx-0 px-0 position-fixed top-0 left-0 z-10 w-full"
     [ngClass]="{'bg-white shadow-sm': scrollOffset > 20}">
  <div class="container p-3">
    <div class="flex justify-content-between">
      <div routerLink="/" class="my-auto fw-bold hover:cursor-pointer"><i class="bi bi-recycle me-2"></i>CAM<span
        class="text-purple-800">LAW</span>LIFY
      </div>
      <div class="my-auto">
        <div class="d-block d-md-none">
          <button type="button" class="btn btn-light" [matMenuTriggerFor]="menu"><i class="bi bi-three-dots-vertical"></i></button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="onLogIn()">
              <mat-icon>login</mat-icon>
              <span>Login</span>
            </button>
            <button mat-menu-item (click)="onSubscription()">
              <mat-icon>currency_exchange</mat-icon>
              <span>Subscription</span>
            </button>
            <button mat-menu-item (click)="onBookmarks()">
              <mat-icon>bookmark</mat-icon>
              <span>Bookmark</span>
            </button>
            <button mat-menu-item (click)="onContactUs()">
              <mat-icon>contact_support</mat-icon>
              <span>Contact Support</span>
            </button>
          </mat-menu>
        </div>
        <div class="d-none d-md-block flex justify-content-between">
          <ng-container *ngIf="user && user['token'], else notLoggedIn">
            <a (click)="onLogOut()" class="navigation-item">Log Out</a>
          </ng-container>
          <ng-template #notLoggedIn>
            <a href="javascript:void(0)" (click)="onLogIn()" class="navigation-item">Login</a>
          </ng-template>
          <a [routerLink]="'/about-us'" class="navigation-item">Contact</a>
        </div>
      </div>
    </div>
  </div>
</nav>


