<nav class="container-fluid mx-0 px-0 position-fixed top-0 left-0 z-10 w-full"
     [ngClass]="{'bg-white shadow-sm': scrollOffset > 20}">
  <div class="container p-3">
    <div class="flex justify-content-between">
      <div routerLink="/" class="my-auto fw-bold hover:cursor-pointer"><i class="bi bi-recycle me-2"></i>CAM<span
        class="text-purple-800">LAW</span>LIFY
      </div>
      <div class="my-auto">
        <div class="d-block d-md-none">
          <button type="button" class="btn btn-light"><i class="bi bi-three-dots-vertical"></i></button>
        </div>
        <div class="d-none d-md-block flex justify-content-between">
          <a [routerLink]="'/login'" class="navigation-item">Login</a>
          <a [routerLink]="'/about-us'" class="navigation-item">Contact</a>
        </div>
      </div>
    </div>
  </div>
</nav>


