<div class="container-fluid">
  <div class="row min-vh-100">
    <div class="col-12 col-lg-4 offset-md-4 flex justify-content-center">
      <div class="my-auto">
        <div class="text-center">
          <div routerLink="/" class="mb-3 fs-4 fw-bold hover:cursor-pointer"><i class="bi bi-recycle me-2"></i>CAM<span
            class="text-purple-800">LAW</span>LIFY
          </div>
          <p class="card-text mb-3">Lorem ipsum dolor sit amet. Ut obcaecati voluptatem qui dolores iste ut veritatis
            nulla. Et
            nisi rerum cum unde galisum eos delectus</p>
        </div>
        <div class="card border-0 bg-transparent">
          <div class="card-body">
            <div class="form-floating mb-3">
              <input type="email" class="form-control" id="floatingInput" placeholder="email">
              <label for="floatingInput">Email address</label>
            </div>
            <div class="form-floating mb-3">
              <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
              <label for="floatingPassword">Password</label>
            </div>
            <div class="d-grid gap-2">
              <button mat-flat-button color="primary" class="py-1">Login</button>
            </div>
            <p class="text-center py-3">or</p>
            <div class="d-grid gap-2">
              <button class="btn btn-outline-secondary py-2.5 mb-2">
                <span class="flex justify-content-center">
                  <span><img class="google-icon me-2"
                             src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png"
                             alt="Google logo"></span>
                Login with Google
                </span>
              </button>
              <button class="btn btn-outline-secondary py-2.5 mb-3">
                <span class="flex justify-content-center">
                  <span><img class="google-icon me-2"
                             src="https://upload.wikimedia.org/wikipedia/commons/b/b8/2021_Facebook_icon.svg"
                             alt="Google logo"></span>
                Login with Facebook
                </span>
              </button>
              <p>Forgot password? Feel free to <a class="text-primary text-decoration-underline" href="">contact us</a>.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
