<div class="container-fluid bg-gray-300">
  <div class="container">
    <div class="row g-3 py-8">
      <div class="col-12 col-md-4">
        <div href="" class="mb-3 fw-bold hover:cursor-pointer"><i class="bi bi-recycle me-2"></i>CAM<span
          class="text-purple-800">LAW</span>LIFY
        </div>
        <p class="card-text mb-3">Lorem ipsum dolor sit amet. Ut obcaecati voluptatem qui dolores iste ut veritatis nulla. Et
          nisi rerum cum unde galisum eos delectus optio eos blanditiis dolor sit reprehenderit vitae.</p>
        <a class="quick-link-item" href=""><i class="bi bi-telephone me-1"></i>(+855)099 999 888</a>
        <a class="quick-link-item" href=""><i class="bi bi-envelope me-1"></i>info@camlawlify.com</a>
      </div>
      <div class="col-12 col-md-4">
        <div class="mb-3 fw-semibold">Quick Links</div>
        <a class="quick-link-item" routerLink="">Login</a>
        <a class="quick-link-item" routerLink="">Laws</a>
        <a class="quick-link-item" routerLink="">Request</a>
        <a class="quick-link-item" routerLink="">About US</a>
      </div>
      <div class="col-12 col-md-4">
        <div class="mb-3 fw-semibold">Social Media</div>
        <a class="quick-link-item" routerLink="">Facebook</a>
        <a class="quick-link-item" routerLink="">Instagram</a>
        <a class="quick-link-item" routerLink="">Tweeter</a>
        <a class="quick-link-item" routerLink="">Telegram</a>
      </div>
    </div>
    <div class="row">
      <div class="col-12 py-2 border-t border-gray-500 text-center">
        <p class="credit-text">&copy;2022 www.camlawlify.com | All right reserved</p>
      </div>
    </div>
  </div>
</div>
