<app-navigation></app-navigation>
<section class="main-section">
  <div class="container">
    <div class="row g-4 landing-content-block">
      <div class="col-12 col-md-8 offset-md-2">
        <!--        <h1 class="font-bold fs-2 mb-4">Explore the knowledge of <span class="text-purple-800">Cambodia's laws</span> by-->
        <!--          asking or reading the law-->
        <!--          article</h1>-->
        <h1 class="font-bold fs-2 mb-4">Unlock Cambodia's legal insights through interactive exploration or in-depth
          reading of law articles</h1>
        <div class="flex justify-content-between w-full mb-4">
          <input class="form-control form-control-lg me-2 rounded-2 border-2 border-purple-800 focus:border-purple-800"
                 type="text"
                 placeholder="Search laws of Cambodia"
                 aria-label=".form-control-lg example">
          <!--<button mat-fab color="primary" aria-label="Example icon button with a delete icon">
            <mat-icon>search</mat-icon>
          </button>-->
          <button class="btn btn-link ms-2" (click)="onOpenFilter()" [matTooltip]="'Advance Filter'"
                  aria-label="Example icon button with a delete icon">
            <mat-icon class="text-purple-800">tune</mat-icon>
          </button>
        </div>
        <p class="card-text">Your Gateway to Cambodia's Legal Universe. Dive into the rich tapestry of Cambodian laws
          and regulations with our user-friendly platform. Explore, search, and understand the intricacies of Cambodia's
          legal landscape like never before.</p>
      </div>
    </div>
  </div>
  <div class="container mb-10">
    <div class="row g-3">
      <!--      <div class="col-12">-->
      <!--        <div class="row g-3 border-y">-->
      <!--          <div class="col-12">-->
      <!--            <h5 class="fw-semibold fs-90"><i class="bi bi-filter me-1"></i>Advanced Filters</h5>-->
      <!--          </div>-->
      <!--          <div class="col-12 col-md-3">-->
      <!--            <form class="advanced-filter-form">-->
      <!--              <mat-form-field class="w-full" appearance="outline">-->
      <!--                <mat-label>Subject Area</mat-label>-->
      <!--                <input type="text"-->
      <!--                       placeholder="Pick one"-->
      <!--                       aria-label="Number"-->
      <!--                       matInput-->
      <!--                       [matAutocomplete]="auto">-->
      <!--                <mat-autocomplete #auto="matAutocomplete">-->
      <!--                  <mat-option *ngFor="let option of filteredOptions | async" [value]="option">-->
      <!--                    {{option}}-->
      <!--                  </mat-option>-->
      <!--                </mat-autocomplete>-->
      <!--              </mat-form-field>-->
      <!--            </form>-->
      <!--          </div>-->
      <!--          <div class="col-12 col-md-3">-->
      <!--            <form class="advanced-filter-form">-->
      <!--              <mat-form-field class="w-full" appearance="outline">-->
      <!--                <mat-label>Scope</mat-label>-->
      <!--                <input type="text"-->
      <!--                       placeholder="Pick one"-->
      <!--                       aria-label="Number"-->
      <!--                       matInput-->
      <!--                       [matAutocomplete]="auto">-->
      <!--                <mat-autocomplete #auto="matAutocomplete">-->
      <!--                  <mat-option *ngFor="let option of filteredOptions | async" [value]="option">-->
      <!--                    {{option}}-->
      <!--                  </mat-option>-->
      <!--                </mat-autocomplete>-->
      <!--              </mat-form-field>-->
      <!--            </form>-->
      <!--          </div>-->
      <!--          <div class="col-12 col-md-3">-->
      <!--            <form class="advanced-filter-form">-->
      <!--              <mat-form-field class="w-full" appearance="outline">-->
      <!--                <mat-label>Type</mat-label>-->
      <!--                <input type="text"-->
      <!--                       placeholder="Pick one"-->
      <!--                       aria-label="Number"-->
      <!--                       matInput-->
      <!--                       [matAutocomplete]="auto">-->
      <!--                <mat-autocomplete #auto="matAutocomplete">-->
      <!--                  <mat-option *ngFor="let option of filteredOptions | async" [value]="option">-->
      <!--                    {{option}}-->
      <!--                  </mat-option>-->
      <!--                </mat-autocomplete>-->
      <!--              </mat-form-field>-->
      <!--            </form>-->
      <!--          </div>-->
      <!--          <div class="col-12 col-md-3">-->
      <!--            <form class="advanced-filter-form">-->
      <!--              <mat-form-field class="w-full" appearance="outline">-->
      <!--                <mat-label>Sort By</mat-label>-->
      <!--                <input type="text"-->
      <!--                       placeholder="Pick one"-->
      <!--                       aria-label="Number"-->
      <!--                       matInput-->
      <!--                       [matAutocomplete]="auto">-->
      <!--                <mat-autocomplete #auto="matAutocomplete">-->
      <!--                  <mat-option *ngFor="let option of filteredOptions | async" [value]="option">-->
      <!--                    {{option}}-->
      <!--                  </mat-option>-->
      <!--                </mat-autocomplete>-->
      <!--              </mat-form-field>-->
      <!--            </form>-->
      <!--          </div>-->
      <!--        </div>-->
      <!--      </div>-->
      <div class="col-12 overflow-x-auto">
        <table class="table table-hover fs-90">
          <thead class="bg-gray-300">
          <tr>
            <th class="fs-90 fw-semibold" scope="col"></th>
            <th class="fs-90 fw-semibold" scope="col">Department</th>
            <th class="fs-90 fw-semibold" scope="col">Scope</th>
            <th class="fs-90 fw-semibold" scope="col">Type</th>
            <th class="fs-90 fw-semibold" scope="col">Title</th>
            <th class="fs-90 fw-semibold truncate" scope="col">Issued Date</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let i of [1,2,3,4,5,6,7,8,9,10]">
            <td class="align-middle" style="max-width: 80px">
              <div class="flex">
                <div class="my-auto me-1">
                  <button matRipple matTooltip="Save for later" class="btn btn-sm btn-light mb-0 hover:text-purple-800">
                    <i class="bi bi-bookmark"></i></button>
                </div>
                <div class="my-auto">
                  <button matRipple matTooltip="Open" class="btn btn-sm btn-light mb-0 hover:text-purple-800"><i
                    class="bi bi-arrow-up-right"></i></button>
                </div>
              </div>
            </td>
            <td class="align-middle truncate">Administrative</td>
            <td class="align-middle truncate">101-FLPD-889</td>
            <td class="align-middle truncate">Rule Regulation</td>
            <td class="align-middle" style="width: 350px">Lorem ipsum dolor sit amet ut obcaecati voluptatem...</td>
            <td class="align-middle truncate">02 Sep 2022</td>
          </tr>
          </tbody>
        </table>
        <div class="flex justify-content-start custom-pagination">
          <mat-paginator [length]="2134"
                         [pageSize]="10"
                         [pageSizeOptions]="[5, 10, 25, 100]"
                         aria-label="Select page">
          </mat-paginator>
        </div>
      </div>
      <!--      <div class="col-12 col-md-8 offset-md-2 text-center">-->
      <!--        <h1 class="fs-3 font-bold mb-4">Recently Added Laws</h1>-->
      <!--      </div>-->
      <!--      <div class="col-12 col-md-6 col-lg-4" *ngFor="let i of [1,2,3,4,5,6]">-->
      <!--        <app-article-card></app-article-card>-->
      <!--      </div>-->
      <!--      <div class="col-12 d-flex justify-content-center">-->
      <!--        <div class="my-4">-->
      <!--          <button mat-ripple-->
      <!--                  class="px-4 fw-semibold btn btn-md btn-outline-primary border-purple-800 border-2 text-purple-800 rounded-3 hover:bg-purple-800 hover:border-purple-800 active:bg-purple-800">-->
      <!--            View more-->
      <!--          </button>-->
      <!--        </div>-->
      <!--      </div>-->
    </div>
  </div>

</section>
<app-footer></app-footer>


