<div matRipple
     class="card border-2 border-transparent shadow-none group active:border-purple-800 hover:border-purple-800 hover:border-2 hover:cursor-pointer">
  <div class="card-body">
    <a [routerLink]="['laws', 'article-slug-one-zero']" class="font-semibold group-active:text-purple-800 group-hover:text-purple-800">Lorem ipsum dolor
      sit amet. Ut obcaecati
      voluptatem qui dolores
      iste ut veritatis
      nulla.</a>
  </div>
  <div class="card-footer d-flex justify-content-between bg-transparent border-t-0 pt-0">
    <div class="my-auto">
      <small>20 September 2022</small>
    </div>
    <div class="my-auto d-flex">
      <button type="button" matRipple class="btn btn-sm btn-link text-decoration-none text-purple-800 hover:text-purple-800"><span
        class="me-1"><i
        class="bi bi-bookmark"></i></span>Save
      </button>
    </div>
  </div>
</div>
