/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Battambang:wght@400;700&family=Inter:wght@400;600;700&display=swap');
body {
  margin: 0;
  font-family: 'Inter', 'Battambang', Roboto, "Helvetica Neue", cursive, sans-serif;
  background-color: #eceeee;
}

//.main-section {
//  background-image: url("./assets/image/svg/Oreti.svg");
//  background-repeat: no-repeat;
//  background-size: cover;
//}
